
body{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


h2{
  margin-bottom: 10px; //something smaller
}
h3 {
  margin-top: 10px; //Whatever you like
}

.button1 {
  background-color: #4CAF50;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position: relative;
  left: -300px;
  top: 20px; */
  
}

.button2 {
  background-color: rgb(70, 173, 204);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position: relative;
  left: -150px;
  top: -45px;
}

.button3 {
  background-color: rgb(240, 187, 12);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position: relative;
  left: 0px;
  top: -110px;
}

.button4 {
  background-color: rgb(236, 102, 207);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position: relative;
  left: 150px;
  top: -175px;
}

.button5 {
  background-color: rgb(233, 98, 64);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position: relative;
  left: 300px;
  top: -240px;
}

.nextArea {
  background-color: rgb(114, 107, 105);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position: relative;
  left: 350px;
  top: -600px;
}

.previousArea {
  background-color: rgb(114, 107, 105);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position: relative;
  left: 350px;
  top: -600px;
}

.changeVolumneMetrics {
  background-color: rgb(114, 107, 105);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position: relative;
  left: -505px;
  top: -450px;
  flex-wrap: wrap;
  width: 150px;
}


